In [1]:
import pandas as pd
ordered_satisfaction = ['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']
print(ordered_satisfaction)
df = pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral'], 'Unsatisfacton':['Ugly','Bad','Worst','Disgusting']})
df

['Very Unhappy', 'Unhappy', 'Neutral', 'Happy', 'Very Happy']

  satisfaction Unsatisfacton
0          Mad          Ugly
1        Happy           Bad
2      Unhappy         Worst
3      Neutral    Disgusting

In [2]:
df['satisfaction2'] = df.satisfaction.astype(pd.api.types.CategoricalDtype(ordered=True, categories=ordered_satisfaction))
df

  satisfaction Unsatisfacton satisfaction2
0          Mad          Ugly           NaN
1        Happy           Bad         Happy
2      Unhappy         Worst       Unhappy
3      Neutral    Disgusting       Neutral

In [3]:
df.satisfaction = df.satisfaction.astype(pd.api.types.CategoricalDtype(ordered=False, categories=ordered_satisfaction)).cat.codes

In [4]:
df

   satisfaction Unsatisfacton satisfaction2
0            -1          Ugly           NaN
1             3           Bad         Happy
2             1         Worst       Unhappy
3             2    Disgusting       Neutral

In [5]:
df.satisfaction2=df.satisfaction2.cat.codes
df.satisfaction2

0   -1
1    3
2    1
3    2
Name: satisfaction2, dtype: int8

In [6]:
import pandas as pd
df = pd.DataFrame({'vertebrates':['Bird','Bird','Mammal','Fish','Amphibian','Reptile','Mammal']})
df

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [7]:
df = pd.get_dummies(df,columns=['vertebrates'])
df

,vertebrates_Amphibian,vertebrates_Bird,vertebrates_Fish,vertebrates_Mammal,vertebrates_Reptile
0,0,1,0,0,0
1,0,1,0,0,0
2,0,0,0,1,0
3,0,0,1,0,0
4,1,0,0,0,0
5,0,0,0,0,1
6,0,0,0,1,0

In [8]:
import pandas as pd
df = pd.DataFrame({'vertebrates':['Bird','Bird','Mammal','Fish','Amphibian','Reptile','Mammal']})
df['vertebrates'] = df.vertebrates.astype("category", ordered=True, categories=).cat.codes
df

SyntaxError: invalid syntax (<ipython-input-8-46ec8cba0cd2>, line 3)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
corpus=["Authman ran faster than Harry because he is an athlete.", "Authman and Harry ran faster and faster.", "W00t", " Harry is not an athlete but Authman does"]
bow = CountVectorizer()
X= bow.fit_transform(corpus)
bow.get_feature_names()

In [ ]:
X.toarray()

In [ ]:
from IPython.core.display import Image, display
from scipy import misc
from PIL import Image as Img
py36='DAT210x-master/Images/py36.png'
img=misc.imread('DAT210x-master/Images/py36.png')
img=img[::2, ::2]
X=(img/255.0).reshape(-1)
display(Image(py36))
display(Img.open(py36))

In [ ]:
from IPython.core.display import Image, display
from PIL import Image as Img
heart = 'DAT210x-master/Images/heart.PNG'
display(Image(heart))
display(Img.open(heart))

In [ ]:
from matplotlib.pyplot import imshow
import numpy as np
from PIL import Image

%matplotlib inline
pil_im = Image.open('DAT210x-master/Images/Ottoman_empire.jpg', 'r')
imshow(np.asarray(pil_im))
pil_im = Image.open('DAT210x-master/Images/Ottoman_empire.jpg', 'r')
pil_im.show()